/* ## Colors */
/*### Primary*/
:root {
  --Dark-Blue-email:hsl(217, 28%, 15%);
  --Dark-Blue-main-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);
}

/*### Accent*/

:root{
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
}


/*### Neutral*/
:root{
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 14px;
  background-color: var(--Dark-Blue-main-background);
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: 35px;
}
h2{
  font-size: 30px;
}
p {
  line-height: 1.7;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
}
.flex {
  display: flex;
  align-items: center;
}
.nav-link{
  display: flex;
}
.nav{
  justify-content: space-between;
  padding: 73px 0;
}
.nav-itme{
  padding: 0 25px; 
}
.nav-itme a{
  color: #fff;
}
.nav-itme:last-child{
  padding-right: 0;
}
.accessible {
  text-align: center;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}
.accessible .accessible-text{
  padding: 35px 25% 174px;
}
.accessible .accessible-text p{
  padding: 35px;
}
.accessible .accessible-text button{
  background: #3eb6da;
  padding: 15px 5rem;
  border-radius: 30px;
  font-size: 20px;
}
.service {
	background-color: #181f2b;
}
.service .container .service-area{
  flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}
.service .container .service-area .access-area{
  width: 35%;
  padding-bottom: 100px;
}
.productive {
	background-color: #181f2b;
}
.productive .productive-text{
	padding: 0 100px 0 50px;
}
.productive-btn {
	border-bottom: 1px solid var(--Moderate-Cyan);
	padding: 3px;
	transition: all 0.3s ease;
	background: transparent;
  padding-top: 15px;
}
.productive-btn a{
  color: var(--Moderate-Cyan);
}
.productive-btn img{
  margin-bottom: -3px;
}
.productive-card{
	max-width: 360px;
	background-color: var(--Dark-Blue-testimonials-background);
	font-size: 14px;
	line-height: 1.8;
	padding: 25px 30px 25px 30px;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.card-text{
  padding-bottom: 15px
}
.productive-card img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
.productive-card-image p{
	font-size: 9px;
}
.productive-card-image p span {
	font-size: 11px;
	font-weight: 700;
}
.early-access-area{
  text-align: center;
  margin: auto 15%;
  padding: 50px 15px;
  box-shadow: 0px 0px 5px 5px rgba(6, 3, 3, 0.8);
  border-radius: 10px;
	position: relative;
	margin-bottom: -100px;
  background-color: var(--Dark-Blue-testimonials-background);
}
.early-access-area p{
  padding: 25px 50px;
}
.access-form input {
  color: var(--Dark-Blue-email);
	width: 60%;
  padding: 15px;
  margin-right: 3%;
  border-radius: 25px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.08);
}
.access-btn{
  width: 30%;
	padding: 15px;
	background-color: var(--Blue-inside-call-to-action-gradient);
	color: #fff;
	font-weight: 700;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.productive-card-area{
  padding-bottom: 100px;
}
.main-footer{
  background-color: var(--Dark-Blue-footer-background);
}
.main-footer .footer-logo{
  padding: 180px 0 25px;
}
.footer-logo-area{
  width: 35%;
}
.footer-location p.flex{
  align-items: start;
}
.footer-location p span{
  padding-right: 25px;
}
.footer-contact li{
  padding-bottom: 15px;
}
.footer-contact span{
  padding-right: 30px;
}
.footer-links.flex{
  justify-content: space-between;
  align-items: start;
}
.footer-nav ul{
  column-count: 2;
}
.footer-nav li{
  column-count: 1;
  padding-bottom: 15px;
}
.footer-contact img{
  max-width: 16px;
}
.footer-social ul li{
  display: inline;
  padding: 0 15px;
}
.footer-social ul li:last-child{
  padding-right: 0;
}